site_name: TFM 
site_url: https://go.hashi.co/tfm
site_author: HashiCorp Implementation Services
site_description: "A standalone CLI for Terraform Cloud and Terraform Enterprise migrations."
repo_url: "https://github.com/hashicorp-services/tfm"
edit_uri: edit/main/site/docs
copyright: "TFM is licensed under the <a href='https://github.com/hashicorp-services/tfm/blob/main/LICENSE'>Mozilla Public License 2.0</a>"

theme: 
  name: material
  favicon: img/favicon.ico
  icon:
    logo: material/console
  # custom_dir: 'cinder'
  # colorscheme: github
  # highlightjs: true
  # hljs_languages:
  font:
    text: Roboto
  #   - hcl
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      # primary: blue grey
      scheme: default 
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


nav:
  - Home: index.md
  - Migration Planning:
    - Migration Journey: migration/journey.md
    - Pre-requisites: migration/pre-requisites.md
    - Example Scenario: migration/example-scenarios.md
    - Pre-Migration Questionaire: migration/pre-migration.md
  - Commands:
    - Copy: 
      - General: commands/copy.md
      - Workspaces:
        - General: commands/copy_workspaces.md
        - States: commands/copy_workspace_state.md
        - Team Access: commands/copy_workspace_teamaccess.md
        - Variables: commands/copy_workspace_variables.md
        - Agents: commands/copy_workspace_agents.md
        - VCS: commands/copy_workspace_vcs.md
        - Team Access: commands/copy_workspace_teamaccess.md
      - Teams: commands/copy_teams.md
      - Variable Sets: commands/copy_varsets.md
    - List: 
      - General: commands/list.md
      - Organization: commands/list_orgs.md
      - SSH: commands/list_ssh.md
      - Teams: commands/list_teams.md
      - VCS: commands/list_vcs.md
      - Projects: commands/list_projects.md
  - Development:
    - MVP Details: code/mvp.md
    - Project Details: code/project-details.md
    - Architectual Decision Records: code/adr.md
    - Future Work / Roadmap: code/future.md
  - FAQs: faqs.md
  - About:
    - Why TFM?: about/purpose.md
    - Release Notes: about/release_notes.md
    - Contributing: about/contributing.md
  - Feedback: feedback.md


extra:
  analytics:
    provider: google
    property: G-H9KF63939N
